body {
  margin: 5;
}

button {
  height: 26px;
  background-color: white;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
}

button:hover {
  color: #348feb;
  border-color: #348feb;
}

.add-enchantment-button {
  border: 2px dashed;
}

.modal-done-button {
  margin-top: 20px;
}

.item-general-information {
  display: flex;
  padding-bottom: 10px;
}

.item-general-information div {
  flex-grow: 1;
}

.enchantment-picker {
  display: flex;
  margin-bottom: 5px;
}

.enchantment-picker select {
  margin-right: 10px;
  flex-grow: 1;
}

.modal-photo {
  height: 90px;
  width: 90px;
  margin: 5px;
}

.card-photo {
  width: 90px;
  padding: 5px;
}

.inputs {
  margin: 0px;
  display: grid;
  row-gap: 20px;
}

.add-item-button {
  border: 3px dashed black;
  border-radius: 10px;
  height: 40px;
  line-height: 40px;
  align: center;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.add-item-button:hover {
  color: #348feb;
  border-color: #348feb;
}

.target {
}

.card-list-title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}

.type-selector {
  width: 100%;
  margin-bottom: 5px;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.card {
  display: grid;
  grid-template-columns: 100px 1fr 30px;
  border-radius: 10px;
  height: 100px;
  width: 320px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 3px solid #aaa;
}

.card:hover {
  border: 3px solid #348feb;
}

.card p {
  margin: 0;
}

.enchantment-list {
  padding: 5px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  overflow: auto;
}

.container {
  display: grid;
  grid-template-columns: 326px 1fr;
  column-gap: 10px;
}

.solution {
  display: grid;
  grid-template-rows: 46px repeat(auto-fit, 106px);
  row-gap: 10px;
}

.solution-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.solution-buttons div {
  border: solid;
}

.solution-box {
  display: flex;
  justify-content: center;
}

.solution-box-text {
  margin: 0;
  font-size: 50px;
  line-height: 106px;
  padding: 0 10px 0 10px;
}

.solution-cost {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  height: 80px;
  line-height: 80px;
  padding: 10px;
}

.svg-button {
  padding: 5px;
}

select {
  font-size: 16px;
  line-height: 26px;
  height: 26px;
}
